
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(244, 244, 244);
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #1d1d1d;
}
section{
    max-width: 2000px;
    
    
}


@mixin flex-col($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  width: 100%;
   @include flex-col(0rem);
    align-items: center;

  .view1 {
    width: 100%;
    @include flex-col(1rem);
    padding: 1rem;
    

    #top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 1rem;
      }
    }

    #bottom {
      width: 100%;
      background-color: rgb(37, 37, 37);
      @include flex-col(3rem);
      padding: 2.5rem;
      border-radius: 1rem;

      h3 {
        font-weight: 500;
        font-size: 1rem;
      }

      .text {
       
        @include flex-col(0.7rem);

        h1 {
          font-weight: 200;
          font-size: 2.5rem;
        }

        p {
          font-weight: 100;
          font-size: 1.5rem;
          opacity: 0.6;
          line-height: 1.5;
        }

        h5 {
          display: flex;
          gap: 1rem;
          align-items: center;

          i {
            padding: 1rem;
            border-radius: 2rem;
            border: 1px solid beige;
          }
          font-size: 1rem;
          font-weight: 600;
          font-style: Roboto Mono, sans-serif;
          letter-spacing: 1px;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  main {
    .view1 {
      flex-direction: row;

      #bottom,#top img {
        justify-content: space-between;
          
         height: 100vh;

        .text{
          
            h1 {
          font-size: 3rem;
        }
        }
      }
    }
  }
}
