* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(244, 244, 244);
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #1d1d1d;
}

section {
  max-width: 2000px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main .view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main .view1 #top {
  width: 100%;
}
main .view1 #top img {
  width: 100%;
  border-radius: 1rem;
}
main .view1 #bottom {
  width: 100%;
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2.5rem;
  border-radius: 1rem;
}
main .view1 #bottom h3 {
  font-weight: 500;
  font-size: 1rem;
}
main .view1 #bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main .view1 #bottom .text h1 {
  font-weight: 200;
  font-size: 2.5rem;
}
main .view1 #bottom .text p {
  font-weight: 100;
  font-size: 1.5rem;
  opacity: 0.6;
  line-height: 1.5;
}
main .view1 #bottom .text h5 {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  font-style: Roboto Mono, sans-serif;
  letter-spacing: 1px;
}
main .view1 #bottom .text h5 i {
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid beige;
}
main .view2 {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
main .view2 .text {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  letter-spacing: 2px;
  align-items: center;
}
main .view2 .text h4 {
  font-weight: 200;
  opacity: 0.6;
}
main .view2 .text h1 {
  font-weight: 300;
  font-size: 2.5rem;
}
main .view3, main .view4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main .view3 #top, main .view4 #top {
  width: 100%;
}
main .view3 #top img, main .view4 #top img {
  width: 100%;
  border-radius: 1rem;
}
main .view3 #bottom, main .view4 #bottom {
  width: 100%;
  border-radius: 2rem;
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  border-radius: 1rem;
  letter-spacing: 1px;
}
main .view3 #bottom h3, main .view4 #bottom h3 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.5rem;
}
main .view3 #bottom .text, main .view4 #bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view3 #bottom .text h1, main .view4 #bottom .text h1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
main .view3 #bottom .text .text2 p, main .view4 #bottom .text .text2 p {
  font-weight: 200;
  font-size: 1.2rem;
  opacity: 0.7;
  line-height: 2rem;
}
main .view5 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .view5 h1 {
  font-weight: 400;
  letter-spacing: 1px;
  padding-left: 2rem;
}
main .view5 #card, main .view5 #card1, main .view5 #card2 {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  width: 100%;
  background-image: url(https://cdn.prod.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp);
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  padding: 1rem;
  border-radius: 1rem;
}
main .view5 #card .icon, main .view5 #card #bottom, main .view5 #card1 .icon, main .view5 #card1 #bottom, main .view5 #card2 .icon, main .view5 #card2 #bottom {
  background-color: rgba(29, 29, 29, 0.2745098039);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.7rem;
}
main .view5 #card #top, main .view5 #card1 #top, main .view5 #card2 #top {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
main .view5 #card #top .icon, main .view5 #card1 #top .icon, main .view5 #card2 #top .icon {
  border-radius: 50%;
}
main .view5 #card #bottom, main .view5 #card1 #bottom, main .view5 #card2 #bottom {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
main .view5 #card #bottom h3, main .view5 #card1 #bottom h3, main .view5 #card2 #bottom h3 {
  font-weight: 500;
  line-height: 3rem;
  font-size: 1.5rem;
}
main .view5 #card #bottom h5, main .view5 #card1 #bottom h5, main .view5 #card2 #bottom h5 {
  line-height: 3rem;
  font-size: 1rem;
}
main .view5 #card1 {
  background-image: url(https://cdn.prod.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02.webp);
}
main .view5 #card2 {
  background-image: url(https://cdn.prod.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03.webp);
}
main .view6 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .view6 #top {
  width: 100%;
}
main .view6 #top img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
main .view6 #bottom {
  background-color: rgb(37, 37, 37);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  gap: 4rem;
}
main .view6 #bottom .a {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view6 #bottom .a h5 {
  opacity: 0.7;
  letter-spacing: 1px;
  font-weight: 400;
}
main .view6 #bottom .a h1 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
main .view6 #bottom .b {
  display: flex;
  gap: 1rem;
  align-items: center;
}
main .view6 #bottom .b h5 {
  letter-spacing: 1px;
}
main .view6 #bottom .b h3 {
  border: 1px solid white;
  border-radius: 2rem;
  padding: 0.7rem 1rem;
}
main .view7 {
  width: 100%;
  padding: 1rem;
}
main .view7 .box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(206, 189, 99);
  color: black;
  text-transform: uppercase;
  padding: 2rem;
  border-radius: 1rem;
}
main .view7 .box h1 {
  font-size: 3rem;
  font-weight: 400;
}
main .view7 .box h5 {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
}
main .view7 .box button {
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  word-spacing: 1px;
}
main .view7 .box button h4 {
  opacity: 0.8;
  line-height: 1.5rem;
  font-weight: 400;
}
main .view7 .box button h4 i {
  font-weight: 100;
}
main .view8 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main .view8 .box1 {
  width: 100%;
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  justify-content: space-between;
}
main .view8 .box1 h2 {
  font-weight: 300;
  letter-spacing: 1px;
}
main .view8 .box1 #bottom {
  display: flex;
  gap: 1rem;
}
main .view8 .box1 #bottom .icon {
  padding: 0.6rem 0.7rem;
  border-radius: 2.5rem;
  border: 1px solid rgb(203, 199, 199);
  background-color: #323232;
}
main .view8 .box2 {
  width: 100%;
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  text-transform: uppercase;
}
main .view8 .box2 .b {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .view8 .box2 .b button {
  background-color: rgb(206, 189, 99);
  padding: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 1px;
  border-radius: 0.5rem;
}
main .view8 .box2 .b h2 {
  letter-spacing: 1px;
  font-weight: 400;
}
main .view8 .box2 .b h4 {
  opacity: 0.5;
  font-weight: 400;
}
main .view8 .box3 {
  width: 100%;
  padding: 2rem;
  background-color: rgb(37, 37, 37);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .view8 .box3 #p1, main .view8 .box3 #p2 {
  font-size: 1rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-wrap: nowrap;
}
main .view8 .box3 #p1 a, main .view8 .box3 #p2 a {
  text-decoration: underline;
}
main .view8 .box3 #p1 span, main .view8 .box3 #p2 span {
  opacity: 0.5;
  text-decoration: none;
}
main .view8 .box3 #p2 {
  text-align: center;
}
main .view8 .box3 #p2 span {
  text-decoration: none;
}
main .view8 .box3 .flex {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
main .view8 .box3 .flex h2 {
  padding: 0.5rem 0.7rem;
  border: 1px solid white;
  border-radius: 2rem;
  background-color: rgb(63, 63, 63);
}
main .view8 .box3 .flex h2 i {
  font-weight: 100;
}

@media (min-width: 900px) {
  main .view1 {
    flex-direction: row;
  }
  main .view1 #bottom, main .view1 #top {
    justify-content: space-between;
    width: 50%;
  }
  main .view1 #bottom .text h1, main .view1 #top .text h1 {
    font-size: 3rem;
  }
  main .view2 {
    gap: 10rem;
  }
  main .view2 .text h1 {
    font-size: 3rem;
  }
  main .view3, main .view4 {
    flex-direction: row-reverse;
  }
  main .view3 #top, main .view3 #bottom, main .view4 #top, main .view4 #bottom {
    width: 50%;
  }
  main .view3 #bottom, main .view4 #bottom {
    justify-content: space-between;
    padding: 4.5rem;
  }
  main .view3 #bottom .text h1, main .view4 #bottom .text h1 {
    font-size: 3rem;
    font-weight: 400;
  }
  main .view3 #bottom .text .text2, main .view4 #bottom .text .text2 {
    display: flex;
    gap: 2rem;
  }
  main .view3 #bottom .text .text2 p, main .view4 #bottom .text .text2 p {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  main .view4 {
    flex-direction: row;
  }
  main .view5 h1 {
    font-size: 3rem;
  }
  main .view5 #whole-card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  main .view6 {
    flex-direction: row;
    gap: 1rem;
  }
  main .view6 #top, main .view6 #bottom {
    width: 50%;
  }
  main .view6 #bottom {
    padding: 4rem;
  }
  main .view6 #bottom .a h1 {
    font-size: 3rem;
    font-weight: 300;
    width: 80%;
    letter-spacing: 2px;
  }
  main .view6 #bottom .a h5 {
    font-size: 1rem;
    word-spacing: 1px;
  }
  main .view7 .box {
    padding: 4rem;
    position: relative;
  }
  main .view7 .box h1 {
    font-size: 5rem;
    width: 60%;
  }
  main .view7 .box button {
    position: absolute;
    bottom: 20%;
    right: 5%;
    padding: 1rem 2rem;
  }
  main .view7 .box button h4 {
    word-spacing: 0.5rem;
  }
  main .view8 {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr 20%;
    grid-template-areas: "box1 box2" "box1 box3";
    gap: 1rem;
  }
  main .view8 .box1 {
    background-color: rgb(37, 37, 37);
    grid-area: box1;
    border-radius: 1rem;
    padding: 3rem;
  }
  main .view8 .box2 {
    background-color: rgb(37, 37, 37);
    grid-area: box2;
    display: flex;
    flex-direction: row;
    gap: 15rem;
    padding: 3rem;
    border-radius: 1rem;
  }
  main .view8 .box3 {
    background-color: rgb(37, 37, 37);
    grid-area: box3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 3rem;
  }
  main .view8 .box3 .f {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=styles.css.map */