
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(244, 244, 244);
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #1d1d1d;
}
section{
    max-width: 2000px;
    
    
}


@mixin flex-col($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  width: 100%;
   @include flex-col(0rem);
    align-items: center;

  .view1 {
    width: 100%;
    @include flex-col(1rem);
    padding: 1rem;
    

    #top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 1rem;
      }
    }

    #bottom {
      width: 100%;
      background-color: rgb(37, 37, 37);
      @include flex-col(3rem);
      padding: 2.5rem;
      border-radius: 1rem;

      h3 {
        font-weight: 500;
        font-size: 1rem;
      }

      .text {
       
        @include flex-col(0.7rem);

        h1 {
          font-weight: 200;
          font-size: 2.5rem;
        }

        p {
          font-weight: 100;
          font-size: 1.5rem;
          opacity: 0.6;
          line-height: 1.5;
        }

        h5 {
          display: flex;
          gap: 1rem;
          align-items: center;

          i {
            padding: 1rem;
            border-radius: 2rem;
            border: 1px solid beige;
          }
          font-size: 1rem;
          font-weight: 600;
          font-style: Roboto Mono, sans-serif;
          letter-spacing: 1px;
        }
      }
    }
  }


  .view2{
    display: flex;
    flex-wrap: wrap;
  
    padding:2rem 1rem;
   gap: 3rem;
   align-items: center;
   justify-content: center;
   .text{
    @include flex-col(0rem);
    letter-spacing: 2px;
    align-items: center;
     h4{
        font-weight: 200;
        opacity: 0.6;
    }
    h1{
        font-weight: 300;
        font-size: 2.5rem;
    }
   }
  }

  .view3,.view4{
    width: 100%;
    @include flex-col(1rem);
    padding: 1rem;

    #top{
        width: 100%;
        img{
            width: 100%;
            border-radius: 2rem;

        }
    }

    #bottom{
        width: 100%;
        border-radius: 2rem;
      background-color: rgb(37, 37, 37);
      @include flex-col(3rem);
      padding: 2rem;
      border-radius: 2rem;
      letter-spacing: 1px;
      

      h3{
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2.5rem;
      
      }
     
    .text{
        @include flex-col(1rem);

        h1{
            font-size: 2.5rem;
            font-weight: 400;
            text-transform: uppercase;
        }

        .text2{
            p{
                 font-weight: 200;
          font-size: 1.2rem;
          opacity: 0.7;
          line-height: 2rem;
            }
        }

    }

    }
  }

  .view5{
    width: 100%;
    padding: 1rem;
    
    @include flex-col(2rem);
    h1{
      font-weight: 400;
      letter-spacing: 1px;
      padding-left: 2rem;

    }
    #card,#card1,#card2{
      @include flex-col(0rem);
      justify-content: space-between;
      width: 100%;
      background-image: url(https://cdn.prod.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp);
      aspect-ratio: 1/1;
      background-position: center;
      background-size: cover;
      padding: 1rem;
      border-radius: 2rem;

     .icon,#bottom{
     
      background-color:#1d1d1d46;
      backdrop-filter: blur(5px);
       border: 1px solid white;
      border-radius: 0.5rem;
      padding: 0.7rem;
      
     }

      #top{
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        .icon{
          
          border-radius: 50%;
         
          
        }
      }

      #bottom{
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        
        h3{
          font-weight: 500;
          line-height: 3rem;
          font-size: 1.5rem;
        }
        h5{
          line-height: 3rem;
          font-size:1rem ;
        }
      }
    }

    #card1{
      background-image: url(https://cdn.prod.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02.webp);
    }

    #card2{
      background-image: url(https://cdn.prod.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03.webp);
    }

    
  }

  .view6{
    width: 100%;
    padding: 1rem;
    @include flex-col(2rem);
    #top{
      width: 100%;
      img{
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }

    #bottom{
      background-color: rgb(37, 37, 37);
      padding: 2rem;
      @include flex-col(0rem);
      justify-content: space-between;
     gap: 4rem;
      

      .a{
        @include flex-col(1rem);

        h5{
          opacity: 0.7;
          letter-spacing: 1px;
          font-weight: 400;
        }

        h1{
          font-size: 2rem;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 1px;
          
         
          
        }

      }

      .b{
        display: flex;
        gap: 1rem;
        align-items: center;
        h5{
          letter-spacing: 1px;
        }

        h3{
          border: 1px solid white;
          border-radius: 2rem;
          padding: 0.7rem 1rem;
        }
      }

    }
  }
}

@media (min-width: 900px) {
  main {
    .view1 {
      flex-direction: row;

      #bottom,#top  {
        justify-content: space-between;
          
         width: 50%;

        .text{
          
            h1 {
          font-size: 3rem;
        }
        }
      }
    }

    .view2{
    gap: 10rem;
    .text{
        h1{
            font-size: 3rem;
        }
    }
    }

    .view3,.view4{
        flex-direction: row-reverse;
        

        #top,#bottom{
            width: 50%;
        }
        #bottom{
            justify-content: space-between;
              padding: 4.5rem;

            .text{
                h1{
                    font-size: 3rem;
                    font-weight: 400;
                }

                .text2{
                    display: flex;
                    gap: 2rem;
                   p{
                     font-weight: 300;
                    font-size: 1.2rem;
                    line-height: 2rem;
                   }
                }
            }
        }
    }

    .view4{
      flex-direction: row;
    }

  .view5{
    h1{
      font-size: 3rem;
    }
    #whole-card{
      display: flex;
    flex-direction: row;
    gap: 1rem;

    }
  }

  .view6{
  flex-direction: row;
    gap: 1rem;

    #top,#bottom{
      width: 50%;
    }

    #bottom{
      padding: 4rem;
     .a{
       h1{
        font-size: 3rem;
        font-weight: 300;
        width: 80%;
        letter-spacing: 2px;

      }
      h5{
        font-size: 1rem;
        word-spacing: 1px;
      }
     }
    }
  }

  }
}
